body{
  margin:0;

}

header{

  background-color: $primary-color;
  font-family: $default-font-family;
  font-size: $default-font-size;
}

header label{
  display: none;
}

.menu ul{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.menu li{
  flex-grow: 1;
}

a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: $secundary-color;
}

@media (max-width: 780px){
  header label{
    display: block;
  }
  .menu{
    position: absolute;
    background-color: $primary-color;

  }
  .menu ul{
    flex-direction: column;
  }
}
